<footer id="footer">
    <div class="pull-right">
        Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
    </div>
    <div class="clearfix"></div>
</footer>

<!-- old -->
<!-- <footer class="cw-footer">
    <div class="cw-social">
        <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
        </ul>
    </div>
    <div class="cw-copyright">
        &copy; 2018 by ClockWorks. Prodly created with vanlanguni.edu.vn
    </div>
</footer> -->