<div class="top_nav">
    <div class="nav_menu" id="header">
        <nav>
        <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li class="">
            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <img src="images/img.jpg" alt="">John Doe
                <span class=" fa fa-angle-down"></span>
            </a>
            <ul class="dropdown-menu dropdown-usermenu pull-right">
                <li><a href="javascript:;"> Profile</a></li>
                <li>
                <a href="javascript:;">
                    <span class="badge bg-red pull-right">50%</span>
                    <span>Settings</span>
                </a>
                </li>
                <li><a href="javascript:;">Help</a></li>
                <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
            </ul>
            </li>

            <li role="presentation" class="dropdown">
            <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-envelope-o"></i>
                <span class="badge bg-green">6</span>
            </a>
            <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                <li>
                <a>
                    <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                    <span>
                    <span>John Smith</span>
                    <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                    Film festivals used to be do-or-die moments for movie makers. They were where...
                    </span>
                </a>
                </li>
                <li>
                <a>
                    <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                    <span>
                    <span>John Smith</span>
                    <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                    Film festivals used to be do-or-die moments for movie makers. They were where...
                    </span>
                </a>
                </li>
                <li>
                <a>
                    <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                    <span>
                    <span>John Smith</span>
                    <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                    Film festivals used to be do-or-die moments for movie makers. They were where...
                    </span>
                </a>
                </li>
                <li>
                <a>
                    <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                    <span>
                    <span>John Smith</span>
                    <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                    Film festivals used to be do-or-die moments for movie makers. They were where...
                    </span>
                </a>
                </li>
                <li>
                <div class="text-center">
                    <a>
                    <strong>See All Alerts</strong>
                    <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                </li>
            </ul>
            </li>
        </ul>
        </nav>
    </div>
</div>












<!-- old -->
<!-- <header class="cw-header">
    <div class="cw-header-left">
        <a href="#"><img src="public/images/favicon.png" alt="logo website"></a>
        <span id="search">
            <form action="#" method="GET">
                <input type="search" name="search" placeholder="Search or jump to...">
            </form>
        </span>
    </div>
    <ul class="cw-header-right">
        <li class="cw-notify">
            <span class="cw-notify-quantity">1</span>
            <i class="fas fa-bell cw-bell"></i>
        </li>
        <li class="cw-dropdown cw-add-group">
            <button id="add-group" class="btn cw-button-transparent dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fas fa-plus"></i>
            </button>
            <ul class="cw-dropdown-menu cw-dropright" aria-labelledby="add-group">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </li>
        <li class="cw-dropdown cw-user-infor">
            <button id="user-infor" class="btn cw-button-transparent dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <img src="public/images/avatar.png" alt="user's avatar">
            </button>
            <ul class="cw-dropdown-menu cw-dropright" aria-labelledby="user-infor">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </li>
    </ul>
    <div class="clearfix"></div>
</header> -->